@font-face {
    font-family:a;
    src: url(lemonfont.otf);
   }
   body{
    font-family:a;
    background-color: rgb(2, 43, 88);
   }

.login01{
   position: absolute; 
    top: 500px;
    left: 1100px;
    color: brown;
    border: solid 5px rgb(36, 36, 36);
    background-color: rgb(4, 73, 146);
    border-radius: 10px;
}
.title01{
    text-align: center;
    color: brown;
    background-color: rgb(4, 73, 146);
    border-radius: 999px;
    border: solid 5px rgb(36, 36, 36)
}
img{
    border-radius: 9px;}

.aaa{
    position: absolute;
    top: 150px;
    left: 450px;
    text-align: center;
    border-radius: 5%;
    border: solid 10px rgb(36, 36, 36);
    background-color: rgb(4, 73, 146);
}